<div class="full-screen row" data-equalizer>
  <div class="left-panel medium-3 columns show-for-medium-up" data-equalizer-watch>
    <div class="sidebox">
      <b>AUTHOR</b><br>
      <%= image_tag("placeholder.png", size: "96x96") %><br>
      <b>Joe Bo Beep</b><br>
      <hr>
      Joe Bo Beep loves the content, on line
    </div>
  </div>
  <div class="small-12 medium-6 columns" data-equalizer-watch>
    <div class="content-post">
      <div class="row content-title">
        EXAMPLES PART II: THE QUEST FOR ANGUS
      </div>
      <hr>
      <div class="row content-author-block valign-middle">
        <div class="small-2 columns">
          <%= image_tag("placeholder.png", size: "96x96") %>
        </div>
        <div class="small-8 columns">
          <b>Examplord</b> is playing <b>The Exemplar</b>
        </div>
        <div class="small-2 columns">
          <%= image_tag("placeholder.png", size: "96x96") %>
        </div>
      </div>
      <hr>
      <div class="row content-text">
        <p>
          This is a mockup page meant to give you some idea of what, exactly,
          ContentHog is trying to achieve. It is a <b>content-adjacent blog</b>
          foundation where it is easy to create series based on different media
          so those who are interested will be able to follow these series from
          start to finish easily.
        </p>
        <p>
          This format is easy for fans to follow and helps you to organize
          <b>liveblogs</b>, <b>let's plays</b>, and other content-based posts,
          but you will still be perfectly able to make personal blog posts.
        </p>
      </div>
      <p><b>Posted on August 16, 2020</b></p>
    </div>
    <hr>
  </div>
  <div class="right-panel medium-3 columns show-for-medium-up" data-equalizer-watch>
    <div class="sidebox">
      Other Posts in this Series:<br>
      -EXAMPLES PART I: GO TO LOVE
    </div>
  </div>
</div>
